---
layout: default
---

{% comment %}
<h1>{{ page.title }}</h1>
{% endcomment %}

<div class="grid">
  {% assign sorted_projects = site.projects | sort: "order" %}
    {% for project in sorted_projects %}

    {% unless project.hidden %}
    <div class="grid-item">
      <a href="{{ project.url }}">
        
        {% if project.video %}
          <video 
            autoplay 
            loop 
            muted 
            playsinline 
            poster="{{ project.video.poster | relative_url }}"
            style="width: 100%; height: 180px; object-fit: cover; border-radius: 6px;">
            <source src="{{ project.video.path | relative_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        {% elsif project.image %}
          <img 
            src="{{ project.image.path | relative_url }}" 
            alt="{{ project.title }}" 
            style="width: 100%; height: 180px; object-fit: cover; border-radius: 6px;">
        {% endif %}

        {% comment %}
        {% if project.image %}
          <img src="{{ project.image.path }}" alt="{{ project.title }}">
        {% endif %}
        {% endcomment %}

        <h2>{{ project.title }}</h2>
        <p>{{ project.caption }}</p>
      </a>
    </div>
    {% endunless %}
  {% endfor %}
</div>


<div class="main-content">
  <div class="grid">
    <style>
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
      }
      .grid-item {
        border: 0.1rem solid #ddd; /*1px solid #ddd;*/
        padding: 1rem; /*15px;*/
        text-align: center;
        transition: transform 0.3s ease;
      }
      .grid-item:hover {
        transform: scale(1.05);
      }
      .grid img {
        max-width: 100%;
        height: auto;
      }
    </style>
  </div>
</div>
